header {
    background-color: #C0C0C0;/* Silver */
}

h1 {
    text-align: center;
    color: #FFFFFF;
    text-transform: uppercase;
}

nav > a {
    background-color: #D3D3D3;/* LightGray */ 
    color: #000000;
}

.left {
    display: none;
}

.right {
    background-color: grey;
}

.right > h2 {
    text-transform: uppercase;
    color: #00008B;/* DarkBlue */
}